<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.thedatapirates.cashplan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/cashplan_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cashplan_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".domains.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".domains.helpcenter.HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".domains.investment.InvestmentActivity"
            android:exported="false" />
        <activity
            android:name=".domains.expense.ExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".domains.cashflow.CashFlowActivity"
            android:exported="false" />
        <activity
            android:name=".domains.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="facebook" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="fb" />
            </intent-filter>
        </activity>
        <activity
            android:name=".domains.login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Login"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".utils.AlarmReceiver" />
    </application>

</manifest>